# Link Homebrew casks in '/Applications' rather than '~/Applications'
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

export GITFLOW_DIR=/usr/local/bin

export DOCKER_HOST="tcp://boot2docker:2376"
export DOCKER_TLS_VERIFY=1
export DOCKER_CERT_PATH="$HOME/.boot2docker/certs/boot2docker-vm"